/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i-0yasum13 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px 0px;
  width: 100px;
  height: 100px;
}
.i-2_sac {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -102px;
  width: 100px;
  height: 100px;
}
.i-3405691582 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -204px;
  width: 100px;
  height: 100px;
}
.i-AKImin011 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -306px;
  width: 100px;
  height: 100px;
}
.i-Aomitsu_vrc {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -714px;
  width: 100px;
  height: 100px;
}
.i-Asuka_ukon {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -816px;
  width: 100px;
  height: 100px;
}
.i-Coquelicots_WoT {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1122px;
  width: 100px;
  height: 100px;
}
.i-DYokkoi {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1530px;
  width: 100px;
  height: 100px;
}
.i-DarakeruZer0 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1326px;
  width: 100px;
  height: 100px;
}
.i-Demitass_p {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1428px;
  width: 100px;
  height: 100px;
}
.i-EClareChan {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1734px;
  width: 100px;
  height: 100px;
}
.i-F_Linoal {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1836px;
  width: 100px;
  height: 100px;
}
.i-Joe_Janome {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2244px;
  width: 100px;
  height: 100px;
}
.i-Junkfood_CoLeo {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2346px;
  width: 100px;
  height: 100px;
}
.i-Karasu_ma_Kuro {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2550px;
  width: 100px;
  height: 100px;
}
.i-Lu_Ra_999 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3060px;
  width: 100px;
  height: 100px;
}
.i-Luna_Momizi {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3162px;
  width: 100px;
  height: 100px;
}
.i-MichigariArch {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3264px;
  width: 100px;
  height: 100px;
}
.i-MikanTakano {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3366px;
  width: 100px;
  height: 100px;
}
.i-Musha_JP {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3672px;
  width: 100px;
  height: 100px;
}
.i-Sakazuki_naigi {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4896px;
  width: 100px;
  height: 100px;
}
.i-VR_pasta {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5508px;
  width: 100px;
  height: 100px;
}
.i-Yagihata4x {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5814px;
  width: 100px;
  height: 100px;
}
.i-amanek_ {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -408px;
  width: 100px;
  height: 100px;
}
.i-amesake_san {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -510px;
  width: 100px;
  height: 100px;
}
.i-anagot {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -612px;
  width: 100px;
  height: 100px;
}
.i-blackcatyuma {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -918px;
  width: 100px;
  height: 100px;
}
.i-chemical_15_VR {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1020px;
  width: 100px;
  height: 100px;
}
.i-daigo_h3 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1224px;
  width: 100px;
  height: 100px;
}
.i-ebtf_ {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1632px;
  width: 100px;
  height: 100px;
}
.i-ha_ru_u {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -1938px;
  width: 100px;
  height: 100px;
}
.i-hekiru_celaeno {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2040px;
  width: 100px;
  height: 100px;
}
.i-hibatuija93 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2142px;
  width: 100px;
  height: 100px;
}
.i-kanonji {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2448px;
  width: 100px;
  height: 100px;
}
.i-kohack_v {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2652px;
  width: 100px;
  height: 100px;
}
.i-kon_acc {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2754px;
  width: 100px;
  height: 100px;
}
.i-konsome_vrc {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2856px;
  width: 100px;
  height: 100px;
}
.i-lag_vrchat {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -2958px;
  width: 100px;
  height: 100px;
}
.i-mikkohietala {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3468px;
  width: 100px;
  height: 100px;
}
.i-momoma_creative {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3570px;
  width: 100px;
  height: 100px;
}
.i-nekotokageee {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3774px;
  width: 100px;
  height: 100px;
}
.i-noriben327 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3876px;
  width: 100px;
  height: 100px;
}
.i-on_asti {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -3978px;
  width: 100px;
  height: 100px;
}
.i-onitikuTRAIN {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4080px;
  width: 100px;
  height: 100px;
}
.i-paon_line {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4182px;
  width: 100px;
  height: 100px;
}
.i-peke4444 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4284px;
  width: 100px;
  height: 100px;
}
.i-plus515 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4386px;
  width: 100px;
  height: 100px;
}
.i-popo_para {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4488px;
  width: 100px;
  height: 100px;
}
.i-remiiiiiiit {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4590px;
  width: 100px;
  height: 100px;
}
.i-rotten_apples__ {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4692px;
  width: 100px;
  height: 100px;
}
.i-sabamirin_mof {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4794px;
  width: 100px;
  height: 100px;
}
.i-sorakazehuuta {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -4998px;
  width: 100px;
  height: 100px;
}
.i-sunnyf6789 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5100px;
  width: 100px;
  height: 100px;
}
.i-tesla_0123 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5202px;
  width: 100px;
  height: 100px;
}
.i-tonomaoo {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5304px;
  width: 100px;
  height: 100px;
}
.i-vacss2 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5406px;
  width: 100px;
  height: 100px;
}
.i-wahekui_1 {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5610px;
  width: 100px;
  height: 100px;
}
.i-wallL3D {
  background-image: url(/img/exhibitor-icons.webp);
  background-position: 0px -5712px;
  width: 100px;
  height: 100px;
}
